<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>com.serv.www.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>com.serv.www.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleStock</servlet-name>
    <servlet-class>com.serv.www.HandleStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleStock</servlet-name>
    <url-pattern>/stockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleSale</servlet-name>
    <servlet-class>com.serv.www.HandleSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSale</servlet-name>
    <url-pattern>/saleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleMm</servlet-name>
    <servlet-class>com.serv.www.HandleMm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleMm</servlet-name>
    <url-pattern>/mmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleCz</servlet-name>
    <servlet-class>com.serv.www.HandleCz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCz</servlet-name>
    <url-pattern>/czServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>com.serv.www.HandleExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
</web-app>